/**
 * Copyright 2023 Mehmet Baker
 *
 * This file is part of dimmer.
 *
 * dimmer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * dimmer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with dimmer. If not, see <https://www.gnu.org/licenses/>.
 * 
 * This file incorporates work covered by the following copyright and  
 * permission notice:
 *
 *    This Source Code Form is subject to the terms of the Mozilla Public
 *    License, v. 2.0. If a copy of the MPL was not distributed with this
 *    file, You can obtain one at http://mozilla.org/MPL/2.0/. 
 */

/**
@mehmetb: My goal was to make the options page look like a native Firefox page. I got the color codes, design details etc. 
from the files listed below. Copying everything was not going to work in my case so I had to summarize the same behavior
in a few selectors. If you are not comfortable with a GPL license you can achieve the same result with the links below.

Links to the incorporated work:

moz-toggle.css:          https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/content/widgets/moz-toggle/moz-toggle.css
tokens-brand.css:        https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/themes/shared/design-system/tokens-brand.css
tokens-shared.css:       https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/themes/shared/design-system/tokens-shared.css
text-and-typography.css: https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/themes/shared/design-system/text-and-typography.css
aboutaddons.css:         https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/mozapps/extensions/content/aboutaddons.css
common-shared.css:       https://github.com/mozilla/gecko-dev/blob/fe8b30e982c86d26ccf1f14d825c0de870b91f27/toolkit/themes/shared/in-content/common-shared.css
*/

:root {
  --background-color: #fff;
  --section-border-color: #d7d7db;
  --section-header-color: rgb(21, 20, 26);
  --section-description-color: color(srgb 0.0823529 0.0784314 0.101961 / 0.476);
  --radio-background-color: color(srgb 0.0823529 0.0784314 0.101961 / 0.07);
  --radio-background-color-hover: color(srgb 0.0823529 0.0784314 0.101961 / 0.14);
  --radio-background-color-active: color(srgb 0.0823529 0.0784314 0.101961 / 0.21);
  --radio-border-color: color-mix(in srgb, currentColor 41%, transparent);
  --radio-checked-color: #0061e0;
  --radio-background-image: url(radio.svg);
  --text-color-deemphasized: color(srgb 0.0823529 0.0784314 0.101961 / 0.69);
  --toggle-background-color-pressed: #0060df;
  --toggle-background-color-pressed-active: #054096;
  --toggle-background-color-pressed-hover: #0250bb;
  --toggle-border-color: #8f8f9d;
  --toggle-dot-background-color-pressed: #ffffff;
}
 
body {
  overflow: hidden;
  background-color: var(--background-color);
}

.settings-group {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-stretch: 100%;
  font-size: 15px;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-palette: normal;
  font-size-adjust: none;
  font-synthesis-small-caps: auto;
  font-synthesis-style: auto;
  font-synthesis-weight: auto;
  font-weight: 400;
  border-top: 1px solid var(--section-border-color);
  padding: 16px;
  margin: 0 -16px;
}

.settings-group:last-child {
  padding-top: 0;
}

.settings-group > .setting-name-and-radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.radios {
  display: flex;
  gap: 20px;
}

.radios > label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--section-header-color);
}

.radios input {
  appearance: none;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid var(--radio-border-color);
  border-radius: 100%;
  margin-block: 2px;
  margin-inline: 0 6px;
  background-color: var(--radio-background-color);
  background-position: center;
  flex-shrink: 0;
}

.radios input:hover {
  background-color: var(--radio-background-color-hover);
}

.radios input:hover:active {
  background-color: var(--radio-background-color-active);
}

.radios input:checked {
  background-color: var(--radio-checked-color);
  background-image: var(--radio-background-image);
  border-color: transparent;
}

.setting-name-and-radios > span {
  color: var(--section-header-color);
}

.settings-help > p {
  color: var(--section-description-color);
}

.settings-row {
  display: grid;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.settings-row > span.label-wrapper {
  grid-row: 1;
}

button.toggle-button::before {
  display: block;
  content: "";
  background-color: rgb(143, 143, 157);
  height: 12px;
  width: 12px;
  margin: 1px;
  border-radius: 9999px;
  translate: 0;
}

button.toggle-button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--toggle-border-color);
  height: 16px;
  width: 32px;
  border-radius: 9999px;
  background: color-mix(in srgb, currentColor 7%, transparent);
  box-sizing: border-box;
  grid-row: 1;
  color: var(--text-color-deemphasized);
  cursor: default;
}

button.toggle-button:hover {
  background: color-mix(in srgb, currentColor 14%, transparent);
}

button.toggle-button:hover:active {
  background: color-mix(in srgb, currentColor 21%, transparent);
}

button.toggle-button[aria-pressed=true]::before {
  background-color: var(--toggle-dot-background-color-pressed);
  translate: 16px;
}

button.toggle-button[aria-pressed=true] {
  background-color: var(--toggle-background-color-pressed);
  border-color: transparent;
}

button.toggle-button[aria-pressed=true]:hover {
  background-color: var(--toggle-background-color-pressed-hover);
}

button.toggle-button[aria-pressed=true]:hover:active {
  background-color: var(--toggle-background-color-pressed-active);
}

h3 {
  font-size: 1em;
  line-height: 1.3;
  color: var(--text-color-deemphasized);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 8px;
}

ul li {
  border: none;
  padding-block: 4px;
  padding-inline-start: 2rem;
  background-image: none;
  background-position: 0 center;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  color: var(--text-color-deemphasized);
}

ul li.checked {
  background-image: url(check.svg);
}

@media (prefers-reduced-motion: no-preference) {
  button.toggle-button::before {
    transition: translate 100ms;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(35, 34, 43);
    --section-border-color: rgba(249, 249, 250, 0.2);
    --section-header-color: rgb(251, 251, 254);
    --section-description-color: color(srgb 0.984314 0.984314 0.996078 / 0.563);
    --radio-background-color: color-mix(in srgb, currentColor 7%, transparent);
    --radio-background-color-hover: color-mix(in srgb, currentColor 14%, transparent);
    --radio-background-color-active: color-mix(in srgb, currentColor 21%, transparent);
    --radio-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --radio-checked-color: rgb(0, 221, 255);
    --radio-background-image: url(radio-dark.svg);
    --text-color-deemphasized: color(srgb 0.984314 0.984314 0.996078 / 0.75);
    --toggle-border-color: #bfbfc9;
    --toggle-background-color-pressed: #00ddff;
    --toggle-background-color-pressed-active: #aaf2ff;
    --toggle-background-color-pressed-hover: #80ebff;
    --toggle-dot-background-color-pressed: #1c1b22;
  }
}
