<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options | Dimmer</title>

    <link rel="stylesheet" type="text/css" href="options.css" />
    <script src="/views/shared/i18n.js" type="text/javascript"></script>
  </head>
  <body>
    <form>
      <!-- <h3 data-i18n-message-id="optionalPermissions"></h3> -->

      <div class="settings-group">
        <div class="setting-name-and-radios">
          <span data-i18n-message-id="hostPermissions"></span>

          <div class="radios">
            <label>
              <input type="radio" name="host-permissions" value="1" />
              <span data-i18n-message-id="allow"></span>
            </label>

            <label>
              <input type="radio" name="host-permissions" value="0" checked />
              <span data-i18n-message-id="dontAllow"></span>
            </label>
          </div>
        </div>

        <div class="settings-help">
          <p data-i18n-message-id="enableHostPermissionsDescription"></p>
        </div>
      </div>

      <div class="settings-group">
        <div class="setting-name-and-radios">
          <span data-i18n-message-id="tabsPermission"></span>

          <div class="radios">
            <label>
              <input type="radio" name="tabs-permission" value="1" />
              <span data-i18n-message-id="allow"></span>
            </label>

            <label>
              <input type="radio" name="tabs-permission" value="0" checked />
              <span data-i18n-message-id="dontAllow"></span>
            </label>
          </div>
        </div>

        <div class="settings-help">
          <p data-i18n-message-id="enableTabsPermissionDescription"></p>
        </div>
      </div>

      <div class="settings-group">
        <div class="setting-name-and-radios">
          <span data-i18n-message-id="webRequestPermissions"></span>

          <div class="radios">
            <label>
              <input type="radio" name="webrequest-permissions" value="1" />
              <span data-i18n-message-id="allow"></span>
            </label>

            <label>
              <input type="radio" name="webrequest-permissions" value="0" checked />
              <span data-i18n-message-id="dontAllow"></span>
            </label>
          </div>
        </div>

        <div class="settings-help">
          <p data-i18n-message-id="enableWebRequestPermissionsDescription"></p>
        </div>
      </div>

      <div class="settings-group">
        <h3>Settings</h3>

        <ul>
          <li>
            <div class="settings-row">
              <span class="label-wrapper">
                <label for="dim-all-tabs" data-i18n-message-id="dimAllTabs"></label>
              </span>

              <button id="dim-all-tabs" class="toggle-button" type="button" aria-pressed="false"></button>
            </div>
          </li>
        </ul>
      </div>
    </form>

    <script type="text/javascript" src="options.js"></script>
  </body>
</html>
