/**
 * Copyright 2020, 2021, 2023 Mehmet Baker
 *
 * This file is part of dimmer.
 *
 * dimmer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * dimmer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with dimmer. If not, see <https://www.gnu.org/licenses/>.
 */

/*
  The work in this document is derived from the example at this location: 
  https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Browser_styles
*/
* {
  box-sizing: border-box;
  text-align: start;
}

body {
  overflow: hidden;
}

footer {
  background-color: rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: #1a1a1a;
  display: flex;
  flex-direction: row;
  height: 41px;
  margin-top: -1px;
  padding: 0;
}

div.separator {
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  z-index: 99;
  color: #1a1a1a;
  cursor: default;
  font: caption;
  unicode-bidi: isolate;
}

button {
  color: inherit;
  background-color: unset;
  font: inherit;
  text-shadow: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  flex: 1 1 auto;
  height: 100%;
  margin: 0 -1px;
  padding: 12px;
  text-align: center;

  white-space: unset;
  text-indent: 0;
  display: inline-block;

  padding-block-start: 0px;
  padding-inline-end: 8px;
  padding-block-end: 0px;
  padding-inline-start: 8px;

  cursor: default;
  user-select: none;

  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  width: 50%;
}

button.primary {
  background-color: #0996f8;
  box-shadow: 0 1px 0 #0670cc inset;
  color: #fff;
}

button.primary:hover {
  background-color: #0670cc;
  box-shadow: 0 1px 0 #005bab inset;
}

button.primary:hover:active {
  background-color: #005bab;
  box-shadow: 0 1px 0 #004480 inset;
}

button.default:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

button.default:hover:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.panel-formElements-item.checkbox-panel, .panel-formElements-item.checkbox-panel label {
  display: block;
}

.panel-formElements-item.checkbox-panel input {
  margin-top: 10px;
}

div.settings {
  background-color: #676774ab;
  mask: url(./settings-24.svg) no-repeat center;
  width: 24px;
  height: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

div.settings:hover {
  cursor: pointer;
  background-color: #676774;
}

div.back {
  color: #676774ab;
  position: absolute;
  top: 5px;
  left: 14px;
  display: flex;
  align-items: center;
}

div.back-icon {
  display: inline-block;
  background-color: #676774ab;
  mask: url(./back-24.svg) no-repeat center;
  width: 24px;
  height: 24px;
}

div.back:hover {
  cursor: pointer;
  color: #676774;
}

div.back:hover div.back-icon {
  background-color: #676774;
}
